<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About</h2>
            <p>I <strong>love</strong> the web.</p>
            <p>I'm a UI Designer &amp; Front-End Developer based in Melbourne, Australia. I've Worked on a range of different projects for clients such as Qantas, Jetstar, NAB, 3 Mobile, AFL, Vodafone, AAMI &amp; Bingle. I also have experience in email marketing.</p>
            <p>Currently I work for Honda Australia Motorcycles &amp; Power Equipment, where I am part of the web services team.</p>
            <p>I also enjoy grabbing a beer and going to a gig (I find they go well together.), as well as playing video games and watching sport (litterally any sport!)</p>
        </div>
    </div>
</section>