<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img class="avatar" src="img/avatar.jpg">
                    <h1 class="brand-heading">Andrew Clark</h1>
                    <p class="intro-text">I design for the web and sling a bit of front-end code too.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.twitter.com/clkz0r" class="svg" title="twitter"><object type="image/svg+xml" data="svg/twitter.svg" class="social twitter"><div class="twitter-fallback"></div></object></a>
                        </li>
                        <li>
                            <a href="https://au.linkedin.com/in/aclark1984" class="svg" title="linkedin"><object type="image/svg+xml" data="svg/linkedin.svg" class="social linkedin"><div class="linkedin-fallback"></div></object></a>
                        </li>
                        <li>
                            <a href="http://github.com/clkz0r" class="svg" title="github"><object type="image/svg+xml" data="svg/github.svg" class="social github"><div class="github-fallback"></div></object></a>
                        </li>
                    </ul>
                    <a href="#about" class="page-scroll svg">
                        <object type="image/svg+xml" data="svg/header-arrow.svg" class="down-arrow animated"><div class="down-arrow-fallback"></div></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>